.container {
  width: 1597px;
  height: 791px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0;
  position: absolute;
  top: 4488px;
  left: 162px;
}

.containerTitle {
  width: 1597px;
  height: 160px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 4px;
  padding: 0 0 50px 0;
  box-sizing: border-box;
  border-bottom: 1px solid rgb(28, 28, 33);
}

.titleUp {
  position: static;
  width: 1597px;
  height: 27px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 4px;
  padding: 0 0 50px 0;
  color: rgb(121, 124, 134);
  font-family: "Manrope", sans-serif;
  font-size: 20px;
  text-transform: uppercase;
}

.titleDown {
  position: static;
  width: 1597px;
  height: 79px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 4px;
  padding: 0 0 50px 0;
  color: rgb(255, 255, 255);
  font-family: "Manrope", sans-serif;
  font-size: 58px;
  text-transform: uppercase;
}

.containerQuestions {
  width: 1597px;
  height: 631px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  position: absolute;
  left: 0;
  top: 160px;
}

.cardQuestions {
  width: 798.5px;
  height: 25px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 30px 0 30px 0;
}

.cardItem {
  width: 798.5px;
  height: 112px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  padding: 30px 50px 30px 50px;
  color: rgb(175, 176, 182);
  text-transform: uppercase;
  font-size: 20px;
  font-family: "Manrope", sans-serif;
  box-sizing: border-box;
  border: 1px solid rgb(28, 28, 33);
}

.cardItem button {
  width: 52px;
  height: 52px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: end;
  gap: 10px;
  padding: 7px;
  border: 1px solid rgb(28, 28, 33);
  border-radius: 100px;
  rotate: 90deg;
  font-size: 30px;
}

.answer {
  margin-top: 10px;
  color: rgb(121, 124, 134);
  font-size: 18px;
  font-family: "Manrope", sans-serif;
  opacity: 0;
  max-height: 0;
  display: none;
  transition:
    opacity 0.3s ease,
    max-height 0.3s ease;
}

.answer.visible {
  opacity: 1;
  max-height: 100px;
  display: block;
  position: relative;
  top: -100px;
  left: 50px;
}

.cardItem.answer.visible {
  height: 130px;
}

.cardQuestions.expanded .cardItem {
  padding-bottom: 100px;
  margin-bottom: 50px;
}
